body {
  padding: 1em;
  margin: 1em;
  background-color: #FFFFF8;
  color: #003333;
  width: ;
}

h1, h2, h3 {
  text-align: center;
}

footer {
}

main {
  margin: auto;
  width: 80%;
  text-align: left;
}
