body {
  padding: 1em;
  background-color: #FFFFF8;
  color: #003333;
  width: 80%;
}

main {
  margin: auto;
  width: 80%;
  text-align: left;
}

header {
}

h3 {
  margin-top: 50px;
}

article {
  text-align: center;
}

p {
  text-align: left;
}

img {
  max-width: 100%;
  border: 5px solid black;
}
