
header.portfolio-header {
  background-color: #80A5A2;
  text-align: center;
  padding: 1em;
  border-radius: 10px;
}

h3 {
  margin-top: 50px;
}

article {
  text-align: center;
}

p {
  text-align: left;
}

img {
  max-width: 100%;
  border: 5px solid black;
}
