.template {
  display: none;
}

.draft {
  display: none;
}

.byline {
  color: #777;
}

.byline a {
  font-weight: bold;
  text-decoration: none;
  color: inherit;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

nav {
  display: block;
  position: relative;
  margin: 5px auto;
  background-color: #407F7F;

}
nav ul{
  text-align: center;
  margin-left: -40px;
}
nav li{
  display: inline-block;
  text-align: center;
  margin: 5 auto;
  padding: 5px 5px;
  font-family:
}

article {
  text-align: center;
}

@media only screen and (min-width: 700px) {
  .icon-menu {
    display: none;
  }
  .main-nav ul {
    display: block;
  }
  .main-nav li {
    display: inline-block;
    padding: 0 30px 0 30px;
  }

}
