

header#portfolio-header{
  background-color: #80A5A2;
  text-align: center;
  padding: 1em;
  margin: 1em;
  margin-bottom: 2em;
  border: 5px solid black;
  border-radius: 10px;
}

nav ul {
  padding: 0px;
}

nav li {
  display: inline-block;
  text-align: center;
  margin: 5 auto;
  padding: 5px 5px;
  font-family:
}

@media only screen and (min-width: 700px) {
  .icon-menu {
    display: none;
  }
  .main-nav ul {
    display: block;
  }
  .main-nav li {
    display: inline-block;
    padding: 0 30px 0 30px;
  }
}
