a, a:link, a:active {
  color: #003333;
  text-decoration: none;
}

a:hover, a:focus {
  font-weight: bolder;
  /*color: #13B4A4;*/
}

.project-container a{
  color: #80A5A2;
}

.template {
  display: none;
}
