body {
  padding: 1em;
  background-color: #FFFFF8;
  color: #003333;
}

header {
  border-radius: 10px
}

.portfolio-header {
  background-color: #6BA099;
  text-color:
  text-align: center;
  padding: 1em;
}

h2 {
  text-align: ;
}
