body {
  padding: 1em;
  background-color: #669999;
  color: #003333;
}

.portfolio-header {
  background-color: #407F75;
  text-color:
  text-align: center;
  padding: 1em;
}

h2 {
  text-align: center;
}
